body {
  font-family: "Rubik", sans-serif;
  color: #777777;
  padding: 64px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
}

h4 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}

.fixed-top {
  position:fixed;
  box-shadow: 0 3px 16px 0 rgba(0,0,0,0.1);
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:99;
  background:white;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 4px;
}